/* styling for password_reset_confirm */
body {
    background-color: #b3cefa;
}

.message {
    color: black;
    padding: 10px;
    font-size: 25px;
}

.inner-upload-file {
    width: 60%;
    margin: auto;
    padding-top: 10%;
  }